@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
*{ margin: 0; padding: 0; }
html,body{ height: 100%; font-family: 'Noto Sans KR', sans-serif;}
ul,ol,li{ list-style: none;}
button{ border: 0; background: none; }
button,input{ outline: none; }

#text{
  transition: 1s;
}

.change_width{
  width: 300px;
}

.change_bg{
  background-color: orange;
}

.change_font_style{
  font-size: 25px;
  color: white;
}

#sidemenu{
 position: fixed;
 background: #f1f1f1;
 top: 0;
 bottom: 0;
 right: -300px;
 width: 300px;
 z-index: 10;
 transition: 1s;
}

#sidemenu.on{
  right: 0;
}
